test-files
node_modules
dist
coverage
debug.log

# https://github.com/github/gitignore/blob/master/Global/VisualStudioCode.gitignore
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json

*.vsix

scanner/target

bench/corpus
.claude
