.vscode
.github/
.gitignore
package-lock.json
node_modules/
src/
test/
test-files
webpack.config.js
tsconfig.json
tsconfig.strict.json
buildCodiconNames.js
copyScanner.js
dist/extension.js.map
scanner/**
node_modules/.cache/**
bench/**
